:root {
  --primary-color: #f8f8f8;
  --secondary-color: #293a50;
  --tertiary-color: #e8a31c;
  --background-color: lightgrey
}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
 }
