.tp-dropdown.p-dropdown {
  background-color: color('black-transparent') !important;
  border: 1px solid color('black-transparent') !important;
  .p-dropdown-label {
    color: color('white');
    font-size: 13px;
    width: 100% !important;
  }
  .p-dropdown-trigger{

  }
}

.p-dropdown-header,
.p-dropdown-footer {
  .p-dropdown-filter {

  }
}



.p-dropdown-panel {
  .p-dropdown-items-wrapper {
    // dropdown item list
    .p-dropdown-items {
      .p-dropdown-item{
        // item
      }
      .p-dropdown-item.p-highlight{
        // item selected
      }
    }
  }
}


